<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t ".get_help_ror" %>
  <%= link_to t(".rort_help_page"), "http://www.railstutorial.org/help" %>.<br>
  <%= link_to t("rort_book"), "http://www.railstutorial.org/book" %>.
</p>
